<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>molakisi</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="col-md-12 m-auto">  
                <hr>
                    {{#if message}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}
                <hr>
                <a href="/index">back</a>
            </div>
        </div>
    </body>
</html>